@use 'variables';

.InputUI {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 0;

  &__label {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: variables.$appColor;
    margin-bottom: 5px;
  }

  &__input {
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    text-align: left;
    line-height: 10px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: 0.28571429rem;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;

    &:focus,
    &:active {
      border-color: #85b7d9;
      background: #fff;
      color: rgba(0, 0, 0, .8);
      box-shadow: none;
    }

    &._error {
      border: 1px solid red;
      animation: shake 0.2s ease-in-out 0s 2;
    }
    &._errorShake {
      animation: shake 0.2s ease-in-out 0s 2;
    }
  }

  input.padding-right {
    padding-right: 40px !important;
  }
}