.profile_detail {
    padding: 50px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}

.ButtonUI {
    margin: unset;
    width: 100%;
}
.btn_content{
    display: flex;
    gap: 10px;
}