@import "fonts.css";
$appColor: #aa8a75;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  display: flex;
  width:calc(100% - 600px);
  margin: auto;
}

._ellipsis {
  display: block !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.customXScrollbar {
  &::-webkit-scrollbar-track {
    border: 3px solid #fff;
    background-color: $appColor;
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $appColor;

    &:hover, &:focus, &:active {
      background-color: $appColor;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $appColor;
    border-radius: 10px;
  }
}

.customYScrollbar {
  &::-webkit-scrollbar-track {
    border: 3px solid #fff;
    background-color: $appColor;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $appColor;

    &:hover, &:focus, &:active {
      background-color: $appColor;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $appColor;
    border-radius: 10px;
  }
}