@use 'variables';

.customization-mannequins {
    margin-top: 48px;
    padding: 50px;
    width: 100%;
}
.customization-body-mannequins {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.customization-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customization-mannequins-list {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.customization-mannequin {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 1px solid variables.$appColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    img {
        transition: .3s all ease 0s;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &:hover {
        img {
            transform: scale(1.3);
        }
    }
}

.customization-search {
    margin: 0;
    width: 250px;
    input {
        padding: 5px 10px;
    }
}

.remove-my-garment {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0 !important;
    width: 30px !important;
    height: 30px;
    min-width: initial;
    max-height: 30px;
    svg {
        margin: 0;
    }
}