.product{
    &_canvas{
        display: flex;
        border:1px solid #a57867;
        padding: 10px;
        // align-items: center;
        // justify-content:center;
    }

}
.shop_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}