.customization-info {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-name {
        text-transform: capitalize;
    }
    &-detais {
        margin-top: 20px;
        display: flex;
        align-items: center;
        .headingUI {
            margin-right: 20px;
        }
    }
}